
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family:"Montserrat", sans-serif;
}

/*NAV*/

.navbar {
    background-color: #eefda2be;
}

.navbar-toggler, .navbar-toggler:active, .navbar-toggler:focus{
    border:none;
    box-shadow: none;
 }

.offcanvas-body, .offcanvas-header {
    background-color: #030303;
    border-left: 1px solid #eefda2;
}

.offcanvas-title, .nav-link, .nav-item:hover .nav-link, .nav-item:focus  .nav-link, .nav-link:active  {
    color:#eefda2;
}

.nav-item:hover .nav-link, .nav-item:focus  .nav-link {
    font-weight: 700;
}


/* MAIN */

h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
}
@media screen and (min-width:568px) {
    h1 {
       font-size: 60px;
    }
        
}

h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    margin: 30px 0px 50px 0px;  
}

h3, h4, h5, h6 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    margin: 30px 0px 30px 0px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

/* HERO */

.hero {
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image:url(../assets/img/hero.jpg);
    } 

.hero h1, .hero-about h1, .hero-services h1, .hero-portfolio h1, {
    display: flex;
    flex-wrap: wrap;
    padding:20px 0;
}

.hero-about {
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image:url(../assets/img/hero-services.jpg);
}

.hero-services {
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image:url(../assets/img/hero-services1.jpg);
}

.hero-portfolio {
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image:url(../assets/img/hero-portfolio.jpg);
}

.hero-content {
    color: white;
}

/* CONTENT */


.specialities {
    display:flex;
    flex-direction:row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    gap:20px;
}

.card-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-list li {
    list-style: none;
}

.card-icon {
    display: flex;
    width:150px;
    height:80px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #000;
    border-radius: 10px;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 20px;
    margin: 0 20px;
}


.card {
    background-color: #eefda2;
    border:1px solid #d0d0d0;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px #cecece5e;
}

.card-body-review img {
    border-radius: 100%;
    width:80px;
    height:80px;
    object-fit:cover;
    margin-right: 20px;
}

.card-body li {
line-height: 1.5;
padding:10px
}

.card-body-habilities {
    background-color: #ffff;
    padding: 30px;
    margin:15px;
}

.card-body-habilities img {
    border-radius: 100%;
    width:80px;
    height:80px;
    object-fit:cover;
    margin-right: 20px;
}

.selector {
    font-weight: 600;
    display: inline-block;
    padding: 20px 30px;
    margin: 0 20px;
    text-align: center;
}

.card-portfolio {
    background-color: #fff;
    padding: 30px;
    margin:15px;
}

.card-portfolio span {
    padding:15px 30px;
    background-color:#000;
    border-radius: 10px;
    color:#fff;
    font-weight: 600;
    position:relative;
    top:20px;
    left:70%
}

.card-portfolio img {
    width: 100%;
    object-fit: cover;
}

.about iframe {
    width: 600px;
    height:450px;
    border: 0;
    padding-top: 20px;
}


.about img {
    width:400px;
    height:330px;
    object-fit:cover;
}

.about {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

/*CARRUSEL*/


.carousel-control-prev,.carousel-control-next {
    width:50px
}

.card-body-review {
    background-color: #fff;
    border:1px solid #d0d0d0;
    border-radius: 10px;
    padding:20px;
}

 .card-wrapper {
    margin-left: 30px;
    margin-right: 30px;
} 


@media screen and (min-width:568px) {
    .card-wrapper {
      display:flex;
      gap:20px
      }

  .card-body-review {
      width: calc(100%/3)
  }
} 

@media screen and (max-width:567px) {
    .card-body-review:not(:first-child) {
        display: none;
    }
}


.review-text {
    font-size: 13px;
}

/* GRILLA */

.grilla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
    grid-template-areas:
      'a1 a2 a3'
      'a4 a5 a6'
    }

    .b1 {
        grid-area: a1;
      }
      
      .b2 {
        grid-area: a2;
      }
      
      .b3 {
        grid-area: a3;
      }
      
      .b4 {
        grid-area: a4;
      }
      
      .b5 {
        grid-area: a5;
      }
      
      .b6 {
        grid-area: a6;
      }

/* FORM */
form {
    width:100%
}

form input {
    width:100%;
    padding:10px 5px;
    color:#acacac;
    border-radius: 6px;
    border: 1px solid #000;
}

form div {
    font-weight: 600;
    padding:10px 0;
}

form textarea {
    width:100%;
    height: 250px;
    padding:5px 5px;
    color:#acacac;
    border-radius: 6px;
    border: 1px solid #000;
}

form .button {
    position:relative;
    top: 20px;
    padding:20px;
    background-color: #000;
    color:white;
    font-size: 16px;
    font-weight: 600;
}

/*FOOTER*/

footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
    width: 100%;
    padding: 0 50px;
    margin-top:50px
}

footer article {
    padding: 30px 0;
}

footer p {
    padding: 0 0 5px 0;
}

footer li {
    display: inline;
    padding:10px;
}

footer a {
    text-decoration: none;
    color: black;
}