/*FORM*/

form {
    width:100%;
    
    input {
        width:100%;
        padding:10px 5px;
        color:#acacac;
        border-radius: 6px;
        border: 1px solid $secondary-color;
    }
    
    div {
        font-weight: 600;
        padding:10px 0;
    }
    
    textarea {
        width:100%;
        height: calc(25px*10);
        padding:5px 5px;
        color:#acacac;
        border-radius: 6px;
        border: 1px solid $secondary-color;
    }
    
    .button {
        position:relative;
        top: 20px;
        padding:20px;
        background-color: $secondary-color;
        color:white;
        font-size: 16px;
        font-weight: 600;
    }
    
}

