@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
/* MAIN */

h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.5;
    word-wrap: break-word;
}


h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    margin: 30px 0px 50px 0px;  
    word-wrap: break-word;
}

h3, h4, h5, h6 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    margin: 30px 0px 30px 0px;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

/* HERO */

.hero-home {
    @extend .hero;
    background-image:url(../assets/img/hero.jpg);
    } 

.hero-about {
    @extend .hero;
    background-image:url(../assets/img/hero-services.jpg);
}

.hero-services {
    @extend .hero;
    background-image:url(../assets/img/hero-services1.jpg);
}

.hero-portfolio {
    @extend .hero;
    background-image:url(../assets/img/hero-portfolio.jpg);
}

.hero-content {
    color: white;
    width:100%;
    padding:10px;
    h1 {
        text-align:center;
    }
}

/* CONTENT */


.specialities {
    @include flex(row,center,center,20px);
    flex-wrap: wrap;
    width:100%;
    ul{
        @include flex(row,center,center,20px);
        flex-wrap: wrap;

        .selector {
            font-weight: 600;
            padding: 20px 30px;
            margin: 0 20px;
            text-align: center;
            list-style: none;
        }
    
        .specialities-list {
            @include flex(row,center,center,0px);
            list-style: none;
            width:150px;
            height:80px;
            color: white;
            background-color: $secondary-color;
            border-radius: 4px+6px;
            box-shadow: 2px 2px 5px 5px rgba(192, 192, 192, 0.369);
        }

        .icon-list {
            @include flex(row,center,center,0px);
            list-style: none;
            width:150px;
            height:80px;
        }

    }
}


.card-icon {
    @include flex(row,center,center,0px);
    width:150px;
    height:80px;
    color: white;
    background-color: $secondary-color;
    border-radius: 10px;
}

.card {
    background-color: $primary-color;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgba(192, 192, 192, 0.369);
    border:none;
}

.card-body {
    @include flex(column,start,center,0px);
}

.card-body-review img {
    border-radius: 100%;
    width:80px;
    height:80px;
    object-fit:cover;
    margin-right: 20px;
}

.card-body li {
    line-height: 1.5;
    padding:10px
}

.card-body-habilities {
    background-color: #ffff;
    padding: 30px;
    margin:15px;
    & img {
        border-radius: 100%;
        width:80px;
        height:80px;
        object-fit:cover;
        margin-right: 20px;
    }
}


.about {
    @include flex(row,center,start,40px);
    flex-wrap: wrap;
    img {
        max-width:400px;
        height:330px;
        object-fit:cover;
    }
    p {
        max-width:800px;
    }
    iframe {
        width:800px;
        height:400px;
        border: 0;
        padding-top: 20px;
    }
    .about-content {
        @include flex (row, space-around, center, 20px);
        flex-wrap: wrap;
        width:100%;
    }
}

/*CARRUSEL*/

.carousel-control-prev,.carousel-control-next {
    width:50px
}

.card-wrapper {
    margin-left: 30px;
    margin-right: 30px;

    .card-body-review {
        background-color: #fff;
        border:1px solid #d0d0d0;
        border-radius: 10px;
        padding:20px;
    }
} 

.review-text {
    font-size: 13px;
}

/* GRILLA */

.grilla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 10px;
    grid-template-areas:
      'a1 a2 a3'
      'a4 a5 a6';
        .card-portfolio {
            @include flex (column, space-around, center, 20px);
            background-color: #fff;
            padding: 30px;
            margin:15px;
    
            & span {
                padding:15px 30px;
                background-color:$secondary-color;
                border-radius: 10px;
                color:#fff;
                font-weight: 600;
            }
            & img {
                width: 100%;
                object-fit: cover;
            }
        }
        .b1 {
            grid-area: a1;
        }
        .b2 {
            grid-area: a2;
        }   
        .b3 {
            grid-area: a3;
        }    
        .b4 {
            grid-area: a4;
        }   
        .b5 {
            grid-area: a5;
        }  
        .b6 {
            grid-area: a6;
        }
       
    }
