@media screen and (min-width:568px) {
    h1 {
       font-size: 60px;
    }      
}

@media screen and (min-width:568px) {
    .card-wrapper {
      display:flex;
      gap:20px
      }

  .card-body-review {
      width: calc(100%/3)
  }
} 

@media screen and (max-width:567px) {
    .card-body-review:not(:first-child) {
        display: none;
    }
}